:host {

   .watcher-details {
      background-color: rgb(112, 112, 109);
      // margin: 5px;
      height: 100%;

      div {
         p {
            margin: 0;
         }

         display: flex;
         flex-direction: column;
      }
   }
}