<section class="main-app">
   <nav>
      <div class="app-name">
         <h1><a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Angular testing ground</a></h1>
      </div>
      <ul>
         <li><a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
         <li><a routerLink="/timer" routerLinkActive="active" ariaCurrentWhenActive="page">Timer</a></li>
         <li><a routerLink="/mouse" routerLinkActive="active" ariaCurrentWhenActive="page">Mouse</a></li>
         <li><a routerLink="/watcher" routerLinkActive="active" ariaCurrentWhenActive="page">Watcher</a></li>
      </ul>
   </nav>
</section>

<div class="content">
   <router-outlet></router-outlet>
</div>